<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success-page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class= "success-head">
        <h3>Registered successfully!</h3>
    </div>
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Get Your Receipt</h2>
            <p>Enter your email to receive a receipt.</p>
            <form method="POST" action="{% url 'success' student.id %}">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Press enter</style></button>
            </form>
        </div>
    </div>
</body>
</html>